rect:hover {
  opacity: 0.8;
}

.errorBar {
  stroke: black;
  stroke-width: 3px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x .tick text {
	font-size: 14px;
}

.y .tick text {
	font-size: 12px;
}

.C6 {
	fill:#CC3333;
}
.C7 {
	fill:#FF9933;
}
.C8 {
	fill:#CCCC33;
}
.C4 {
	fill:#009966;
}
.C1 {
	fill:#336699;
}
.C5 {
	fill:#996699;
}
.C3 {
	fill:#66FFCC;
}
.C2 {
	fill:#99CCFF;
}

.X1 {fill: rgb(79, 98, 40);}
.X2 {fill: rgb(51, 153, 51);}
.X3 {fill: rgb(146, 208, 80);}
.X4 {fill: rgb(96, 74, 123);}
.X5 {fill: rgb(192, 0, 0);}
.X6 {fill: rgb(255, 189, 34);}
.X7 {fill: rgb(119, 147, 60);}
.X8 {fill: rgb(0, 0, 0);}
.X13 {fill: rgb(10, 56, 204);}
.X14 {fill: rgb(95, 131, 247);}
.X16 {fill: rgb(252, 234, 4);}
.X17 {fill: rgb(255, 192, 0);}
.X19 {fill: rgb(252, 213, 181);}
.X20 {fill: rgb(228, 108, 10);}
