rect:hover {
  opacity: 0.8;
}

.errorBar {
  stroke: black;
  stroke-width: 3px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x .tick text {
	font-size: 14px;
}

.y .tick text {
	font-size: 12px;
}

.C6 {
	fill:#CC3333;
}
.C7 {
	fill:#FF9933;
}
.C8 {
	fill:#CCCC33;
}
.C4 {
	fill:#009966;
}
.C1 {
	fill:#336699;
}
.C5 {
	fill:#996699;
}
.C3 {
	fill:#66FFCC;
}
.C2 {
	fill:#99CCFF;
}

.X1 {
	fill: #50632C;
}
.X2 {
	fill: #339947;
}
.X3 {
	fill: #93C854;
}
.X4 {
	fill: #614B7C;
}
.X5 {
	fill: #BE2026;
}
.X6 {
	fill: #FEBC23;
}
.X7 {
	fill: #77923C;
}
.X8 {
	fill: #000000;
}
.X13 {
	fill: #364FA2;
}
.X14 {
	fill: #667DBD;
}
.X16 {
	fill: #FBE900;
}
.X17 {
	fill: #FDC010;
}
.X19 {
	fill: #FCD5B5;
}
.X20 {
	fill: #E36D25;
}

.DS {
	fill: #35AD79;
}
.DP {
	fill: #8F35AD;
}
.DF {
	fill: #3595AD;
}