body {
    width: 100%;
    height: 100%;
    background: url('../img/Background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

@media(max-width:480px){
    body{
        background:#1F77B4!important;
        width:auto!important;
        height:auto!important;
    }
    .large-font {
        font-size: 300%!important;
    }
    .medium-font {
        font-size: 100%!important;
    }
    p {
        line-height: 12px!important;
        padding-top: 0%!important;
    }
}

.translucent-padding {
    background-color: rgba(221,221,221,0.9);
}
#top-banner {
	padding-top: 10px;
	padding-bottom: 10px;
}
#big-logo {
    padding-top: 0px;
    padding-bottom: 0px;
}
.white-bg {
    background: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    margin: 5px;
}

.large-font {
	text-align: center;
    font-size: 600%;
    font-style: italic;
    color: #0F0FF4;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.medium-font {
	text-align: center;
    font-size: 150%;
    color: #0F0FF4;
    font-style: italic;
}
.black-words {
    color: #000;
}

#legend {
    max-width: 100%;
    max-height: 100%;
}

.right-align {
	text-align: right;
}

p {
	line-height: 22px;
	padding-top: 10%;
}

td {
 width: 12.5%;
}

.footer {
    color: #fff;
    text-align: left;
}
